img {
  margin-right: 10px;
}

small > img {
  width: 20px;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.authenticationForm {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  margin: 2%;
  border-radius: 2rem;
  padding: 3rem;
  background-color: white;
  min-width: 30%;
}

.homeNavigation {
  border-bottom: 2px solid black;
}

.page {
  min-height: 90vh;
  background-color: ivory;
}

h1 {
  text-align: center;
}

.createForm {
  width: 60%;
  background-color: white;
  border: 2px solid black;
  border-radius: 2rem;
  margin: auto;
  padding: 3rem;
}

.w-6 {
  width: 60%;
  margin: auto;
}

.title {
  margin: 2.5%;
}

@media (max-width: 768px) {
  .mainList {
    width: 80%;
  }
  .title{
    margin: 30px;
  }
}

@media (max-width: 991px) {
  .title{
    margin: 50px;
  }
}

.my-switch .form-check-input:checked {
  background-color: #4caf50; 
  border-color: #4caf50;
}

.my-switch .form-check-input {
  cursor: pointer;
}

.my-switch .form-check-input:not(:checked) {
  background-color: #ccc;
  border-color: #ccc;
}