img {
  margin-right: 10px;
}

.mainList {
  width: 50%;
  overflow:auto;
  height: 60%;
  border: 2px solid black;
  background-color: white;
}

.authenticationForm {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  margin: 2%;
  border-radius: 2rem;
  padding: 3rem;
  background-color: white;
}

.homeNavigation {
  height: 7vh;
  border-bottom: 2px solid black;
}

.page {
  height: 93vh;
  background-color: ivory;
}

.emptyList {
  height: 100%;
  text-align: center;
}

.createForm {
  width: 60%;
  background-color: white;
  border: 2px solid black;
  border-radius: 2rem;
  margin: 2%;
  padding: 3rem;
}


/*Switch*/
.my-switch .form-check-input:checked {
  background-color: #4caf50; 
  border-color: #4caf50;
}

.my-switch .form-check-input {
  cursor: pointer;
}

.my-switch .form-check-input:not(:checked) {
  background-color: #ccc;
  border-color: #ccc;
}