.pencil-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pencil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 30px;
  transition: all 0.3s ease;
}

.pencil-tip {
  width: 0;
  height: 0;
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
  border-bottom: 10vh solid #555;
}

.pencil-body {
  width: 10vw;
  height: 30vh;
  background-color: #f4c542;
  text-align: center;
}

.pencil-eraser {
  width: 10vw;
  height: 4vh;
  background-color: #e57373;
  border-top: 0.5vh solid #ccc;
}


@media (min-width: 768px) {
  .pencil-body {
    height: 40vh;
    width: 8vw;
  }
  .pencil-tip {
    border-left: 4vw solid transparent;
    border-right: 4vw solid transparent;
    border-bottom: 10vh solid #555;
  }
  .pencil-eraser {
    width: 8vw;
    height: 4vh;
    border-top: 0.3vh solid #ccc;
  }
}

@media (max-width: 767px) {
  .pencil {
    flex-direction: row !important;
    transform: rotate(-90deg);
    margin-bottom: 10px;
  }
}