.floating-pencil {
  position: absolute;   
  top: 20%;        
  left: 50px;            
  width: 60px;
  height: 60%;
  
  display: flex;
  flex-direction: column;
  align-items: stretch;

  transition: all 0.4s ease;
  cursor: pointer;
}

.pencil-eraser {
  height: 40px;
  background: #f6b5b8;
  border-bottom: 4px solid #b8860b;
  border-radius: 8px 8px 0 0;
}

.pencil-body {
  flex: 1;
  background: linear-gradient(to bottom, #ffd85e, #ffcd35);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.pencil-item {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: 15px 0;
  font-weight: 600;
}

.pencil-tip {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 60px solid #2e2e2e;
}

@media (max-width: 768px) {
  .floating-pencil {
    position: fixed;
    top:unset;
    bottom: 30px;

    width: 280px;
    height: 60px;
    left: calc(50% - 140px);

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    border-radius: 8px;
    z-index: 9999;
  }

  .pencil-eraser {
    width: 40px;
    height: 100%;
    border-bottom: none;
    border-right: 4px solid #b8860b;
    border-radius: 8px 0 0 8px;
  }

  .pencil-body {
    flex-direction: row;
    height: 100%;
    padding: 0 10px;
  }

  .pencil-item {
    writing-mode: horizontal-tb;
    transform: none;
    margin: 0 12px;
  }

  .pencil-tip {
    border-left: none;
    border-right: none;
    border-bottom: none;

    width: 0;
    height: 0;
    border-left: 30px solid #2e2e2e;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
  }
}
